@import "vendor/vars";
@import "vendor/reset";
@import "vendor/mixins";

html {
    font-size: 62.5%;
}
body {
    background-color: $white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: unset;
}

@import"blocks/button";
@import"blocks/header";
@import"blocks/footer";
@import"blocks/nav";
@import"blocks/card";
@import"blocks/main";
@import"blocks/graph";
@import"blocks/burger";
