.burger {
    @include flex(column,space-between, center);
    display: none;
    position: relative;
    cursor: pointer;
    min-height: 18px;
}
.nav_open .burger__line1 {
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 300ms linear;
}
.nav_open .burger__line2 {
    opacity: 0;
    transition: opacity 300ms linear;
}
.nav_open .burger__line3 {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 300ms linear;
}
.burger__line {
    width: 22px;
    border: 1px solid $black;
}
@media screen and(max-width: 1276px) {
    .burger {
        display: flex;
    }
}