.button {
    border-radius: 28px 0px;
    background-color: $blue;
    padding: 23px;
    color: $white;
    font-size: 14px;
    border: 0;
}
.button_small {
    padding: 14px;
    border-radius: 20px 0px;
}
.button_white {
    background-color: $white;
    color: $blue;
}