.footer {
    background-color: $lightblue;
    min-height: 669px;
    @include flex(column, flex-end, center);
    &__main {
        @include flex(column, space-between, flex-start);
        flex-wrap: wrap;
    }
    &__wrap {
        max-width: 1245px;
        margin: 0 auto;
    }
    &__main_top {
        @include flex(row, space-between, flex-start);
        padding-bottom: 71px;
        width: 100%;
    }
    &__main_bottom {
        @include flex(row,space-between , flex-start);
        width: 100%;
        flex-wrap: wrap;
    }
    &__main_left {
        flex-basis: 354px;
        @include flex(column, center, flex-start);
        padding-right: 84px;
    }
    &__main_right {
        flex-basis: 891px;
    }
    &__img {
        padding-top: 10px;
        padding-bottom: 77px;
        width: 156px;
    }
    &__h1 {
        font-size: 37px;
        font-weight: 700;
        color: $blue;
        color:$blue;
        &:visited {
            color:$blue;
        }
    }
    &__h2 {
        color: $blue;
        font-size: 20px;
    }
    &__a {
        font-size: 14px;
        color: $black;
        padding-bottom: 25px;
        line-height: 110%;
        font-weight: 400;
        &:hover {
            text-shadow: 0 0 2px $bluegray;
        }
        &:active {
            text-shadow: 0 0 2px $gray;
        }
    }
    &__p, &__support {
        color: $green;
        font-size: 12px;
        line-height: 110%;
    }
    &__city {
        color: $blue;
        font-size: 18px;
        padding-bottom: 7px;
    }
    &_left__item {
        padding-bottom: 45px;
    }
    &__nav {
        @include flex(row, space-between, center);
        flex-basis: 891px;
        flex-wrap: wrap;
    }
    &__navh {
        padding-top: 22px;
    }
    &__navitem {
        @include flex(column, flex-start, flex-start);
        min-height: 241px;
        padding-top: 2px;
    }
    &__social {
        @include flex(row, space-between, center);
        padding-bottom: 69px;
    }
    &__social__wrap {
        padding-right: 10px;
    }
    &__social__wrap:first-child {
        padding-left: 0;
    }
    &__social__item {
        cursor: pointer;
        @include flex(row, center, center);
        border-radius: 6px;
        width: 43px;
        height: 43px;
        background-color: $white;
        transition: box-shadow 300ms linear;
        &:hover {
            box-shadow: 0 0 10px $green;
        }
    }
    &__search {
        position: relative;
        display: inline-block;
        border-radius: 6px;
        border: 0;
        background-color: $white;
        width: 100%;
        font-size: 14px;
        max-width: 891px;
    }
    &__searchitem {
        border: 0;
        width: 100%;
        min-height: 48px;
        padding: 15px;
        padding-left: 57px;
        border-radius: 6px;
        transition: box-shadow 200ms linear;
        &::placeholder {
            color: $brightgreen;
        }
        &:focus {
            box-shadow: 0 0 5px $rangegray;
        }
    }
    &__searchimg {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    &__green-header {
        color: $green;
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 11px;
    }
    &__green-p {
        font-size: 12px;
        color: $green;
        padding-bottom: 60px;
        line-height: 110%;
    }
    &__comments {
        @include flex(row,flex-start,center);
        padding-bottom: 16px;
        color: $green;
        font-size: 12px;
    }
    &__comments-item {
        padding-right: 21px;
    }
    &__menuimg {
        display: none;
    }
    &__menu {
        @include flex(row,space-between,center);
        width: 100%;
        padding-bottom: 41px;
    }
    &__line {
        display: none;
        width: 100%;
        height: 1px;
        background: $lightgreen;
    }
    @media screen and (max-width: 1294px) {
        & {
            padding: 0 26px;
        }
        &__social {
            @include flex(row, space-between, center);
            padding-bottom: 47px;
        }
        &__main {
            padding-top: 87px;
        }
        &__logo {
            display: none;
        }
        &__main_top {
            padding-bottom: 25px;
        }
        &__main_left {
            padding-right: 0;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            flex-grow: 1;
        }
        &_left__item {
            padding-right: 25px;
            &:last-child {
                padding-right: 0;
            }
        }
        &__search {
            max-width: unset;
        }
    }
    @media screen and (max-width: 1130px) {
        &__img {
            display: none;
        }
        &__main_bottom {
            padding-top: 31px;
        }
        &__navitem {
            padding-right: 25px;
            flex-basis: 220px;
        }
    }
    @media screen and (max-width: 490px) {
        &__green-header {
            padding-top: 40px;
        }
        &__nav {
            @include flex(column,flex-start,flex-start);
        }
        &__navitem {
            width: 100%;
            padding-right: 0;
            flex-basis: unset;
        }
        &__menuimg {
            display: block;
        }
        &__imgvis {
            display: none;
        }
        &__line {
            display: block;
        }    
        &__a {
            height: 0;
            opacity: 0;
            padding-bottom: 0;
            transition: height 300ms linear, padding-bottom 300ms linear, opacity 300ms linear, padding-top 300ms linear;
        }
        &__visible {
            color: $black;
            &__h2 {
                color: $black;
            }
            &__a {
                opacity: 1;
                height: 40px;
                padding-bottom: 20px;
            }
            &__imgvis {
                display: block;
            }
            &__imghid {
                display: none;
            }
        }
        &__navitem {
            min-height: auto;
        }
        &__main {
            padding-top: 25px;
        }
    }
    @media screen and(max-width: 380px) {
        &__comments {
            flex-wrap: wrap;
        }
        &__main_left {
            padding-right: 0;
        }
        &__h1 {
            font-size: 30px;
        }
        &__city {
            font-size: 14px;
        }
    }
}