.header {
    background-color: $lightblue;
    min-height: 630px;
}
.header__wrap {
    max-width: 1245px;
    margin: 0 auto;
}
.header__h1 {
    font-size: 44px;
    font-weight: 700;
}
.header__p {
    font-weight: 300;
    font-size: 18px;
}
.header__main {
    @include flex(row, space-between, center); 
    flex-wrap: wrap;
    padding-top: 61px;
}
.header__main__wrap {
    max-width: 667px;
    @include flex(column, center, flex-start);
}
.header__img {
    position: relative;
}
.header__img__item {
    position: absolute;
    left: 0;
}
.header__img__item_first {
    position: relative;
    z-index: 100
}
.header__buttons {
    @include flex(row, space-between, center);    
}