.main__wrap {
    max-width: 1400px;
    margin: 0 auto;
}
.main__h1 {
    font-weight: 300;
    font-size: 34px;
    padding-bottom: 30px;
}
.main__products {
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 98px;
}
.main__products__h1 {
    padding-left: 15px;
}
.main__products__cards {
    @include flex(row, center, center);
    flex-wrap: wrap;
    padding: 0 0 187px 0;
}
.main__count__padding {
    padding-bottom: 109px;
}
.main__count {
    margin: 0 auto;
    max-width: 1368px;
    background-color: $lightblue;
    border-radius: 64px 6px;
    min-height: 750px;
    position: relative;
    padding: 170px 61px 124px 61px;
}
.main__count_blue {
    position: absolute;
    top: -67px;
    left: 62px;
    @include flex(row, center, center);
    flex-wrap: wrap;
}
.main__count_blue__inner {
    padding: 7px;
}
.main__count_blue__item {
    @include flex(row, space-between, center);
    min-height: 135px;
    background-color: $blue;
    max-width: 615px;
    border-radius: 10px;
    padding: 36px;
    width: 100%;
}
.main__count__h1 {
    line-height: 110%;
    max-width: 405px;
}
.main__count__p_white {
    padding-left: 34px;
    font-size: 27px;
    color: $white;
}
.main__count__p__wrap {
    @include flex(row, space-between, center);
    padding-bottom: 6px;
}
.main__count__p_black {
    font-size: 16px;
}
.main__count__p_bold {
    font-size: 18px;
    font-weight: 700;
}
.main__count_pb {
    padding-bottom: 15px;
}
.main__count__wrap {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
}
.main__count__graph {
    position: relative;
    max-width: 390px;
}
.main__count__lines {
    position: absolute;
    width: 100%;
    @include flex(row, space-between, flex-start);
}
.main__count__line {
    background: linear-gradient(180deg, rgba(198, 217, 233, 0) 0%, $lightgreen 49.48%, rgba(198, 217, 233, 0) 100%);
    width: 1px;
    height: 428px;
}
.main__count__point {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid $blue;
    background-color: $white;
    border-radius: 50%;
}
.main__count__point1 {
    top: 367px;
    left: -5px;
}
.main__count__point2 {
    top: 354px;
    left: 60px;
}
.main__count__point3 {
    top: 331px;
    left: 126px;
}
.main__count__point4 {
    top: 299px;
    left: 189px;
}
.main__count__point5 {
    top: 249px;
    left: 256px;
}
.main__count__point6 {
    top: 175px;
    left: 320px;
}
.main__count__eval {
    @include flex(column, space-between, flex-start);
    flex-basis: 460px;
    padding-top: 31px;
}
.main__count__inner {    
    width: 100%;
    padding-bottom: 46px;
}
.main__count__radios {
    @include flex(row, space-between, center);
}
.main__count__radiowrap {
    border-radius: 20px 0px;
    padding: 15px;
    min-width: 224px;
    background: $lightblue;
    border: 1px solid $lightgreen;
}
.main__count_checked {
    background: $white;
    border: none;
}
.main__count__radio {
    appearance: none;
    position: relative;
    background: $lightblue;
    border: 1px solid $lightgreen;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 7px;
    &:checked {
        background: $white;
        border: 1px solid $white;
    }
    &::before {
        content: url(/assets/images/radio.svg);
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        position: absolute;
        top: -5px;
        left: 4px;
      }
    &:checked::before {
        opacity: 1;
    }
}
.main__count__label {
    color: $green;
}
.main__count__radio:checked + .main__count__label {
    color: $black;
  } 
.main__count__range {
    width: 100%; 
    height: 6px;
	appearance: none;
	border-radius: 8px;
	cursor: pointer;
    background-color: $rangegray;
    background-image: linear-gradient($brightblue, $brightblue);
	background-size: 70% 100%;
    background-repeat: no-repeat;
}
.main__count__range::-webkit-slider-thumb {
	width: 30px;
	-webkit-appearance: none;
	height: 30px;
	border: $blue 12px solid;
	background: $white;
	border-radius: 50%;
  }
.main__count__card {
    @include flex(column, space-between, flex-start);
    border-radius: 10px 10px 120px 10px;
    background: $white;
    flex-basis: 309px;
    min-height: 374px;
    padding: 27px 57px 30px 34px;
}
.main__benefits {
    max-width: 1245px;
    margin: 0 auto;
    padding-bottom: 112px;
}
.main__benefits__wrap {
    @include flex(row, space-between, flex-start);
    flex-wrap: wrap;
    position: relative;
}
.main__benefits_left__wrap {
    padding-bottom: 33px;
}
.main__benefits_left__item {
    padding-bottom: 30px;   
    @include flex(row, space-between, flex-start);
}
.main__benefits__img {
    &::before {
        content: url(/assets/images/lightblue.svg);
        position: absolute;
    }
}
.main__benefits__button {
    min-height: 48px;
    border-radius: 20px 0px;
    padding: 14px 32px;
}
.main__benefits__h1 {
    padding-top: 109px;
    padding-bottom: 48px;
}
.main__benefits__h2 {
    font-size: 18px;
    padding-bottom: 11px;
}
.main__benefits__padding {
    padding-bottom: 15px;
}
.main__benefits_left {
    flex-basis: 358px;
    @include flex(column, space-between, flex-start);
}
.main__benefits_right {
    flex-basis: 841px;
}
.main__benefits_right-top {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
    padding-bottom: 37px;
}
.main__benefits_right-bottom__columns {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
}
.main__benefits__graph {
    position: relative;
    min-height: 118px;
}
.main__benefits__graphimg {
    position: absolute
}
.main__benefits__lines {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    @include flex(column, space-between, flex-start);
    min-height: 120px;
}
.main__benefits__line {
    background: linear-gradient(180deg, rgba(198, 217, 233, 0) 0%, $lightgreen 49.48%, rgba(198, 217, 233, 0) 100%);
    width: 100%;
    height: 1px;
}
.main__benefits__p {
    font-weight: 400;
    font-size: 16px;
    line-height:22.4px;
    max-width: 267px;
    padding-left: 25px;
}
.main__benefits__figures {
    @include flex(row,space-between,flex-end);
    position: relative;
    z-index: 10
}
.main__benefits__figureitem {
    @include flex(column,space-between,center);
}
.main__benefits__figurep {
    font-size: 14px;
    line-height: 110%;
    max-width: 95px;
    padding-bottom: 3px; 
}
.main__benefits__figurespan {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    color: $gray;
}
.main__benefits__p_colored {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 8px;
    color: $gray;
    &::before {
        content: url(/assets/images/check.svg)
    }
}
.main__benefits_blue {
    color: $brightblue;
}
.main__benefits__figure_blue {
    left: 146px;
    bottom: 0;
    width: 95px;
    height: 105px;
    background: $brightblue;
    border-radius: 18px 0px;
}
.main__benefits__figure_gray {
    width: 95px;
    height: 33px;
    background: $lightgray;
    border-radius: 18px 0px;
    bottom: 0;
    &:last-child {
        height: 46px;
        left: 292px;
    }
}
.main__benefits__subwrap {
    @include flex(row,space-between,center);
    padding-top: 20px;
}
.main__benefits__subscript {
    font-size: 14px;
    font-weight: 400;
    max-width: 114px;
}
.main__benefits__h3 {
    line-height: 19px;
    padding-bottom: 5px;
    padding-top: 12px;
}
.main__p_bold {
    font-weight: 700;
}
.main__scale {
    max-width: 340px;
    min-height: 20px;
    background: $scalegray;
    border-radius: 14px 0px;
}
.main__scale_gray {
    max-width: 76px;
    min-height: 20px;
    background: $bluegray;
    border-radius: 14px 0px;
}
.main__scale_blue {
    width: 276px;
    height: 20px;
    background: $blue;
    border-radius: 14px 0px;
}
.main__feedback {
    padding-bottom: 124px;
}
.main__feedbaack__wrap {
    border-radius: 120px 6px;
    background-color: $lightblue;
    min-height:  460px;;
    position: relative;
}
.main__feedback__arrow {
    @include flex(row, center, center);
    width: 80px;
    height: 80px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: -40px;
}
.main__feedback__arrow:nth-child(2) {
    left: auto;
    right: -40px;
}
.main__feedback__items {
    @include flex(row, center, center);
}
.main__feedback__item {
    @include flex(column, center, flex-start);
    padding: 7px;
}
.main__feedback__img {
    background-color: $white;
    border-radius: 70px 6px;
    width: 405px;
    height: 220px;
}
.main__info {
    padding-bottom: 100px;
}
.main__info__items {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
}
.main__info__item {
    flex-basis: 405px;
    min-height: 360px;
    border-radius: 10px;
    background-color: $lightblue;
    padding: 26px 28px 36px 30px;
}
.main__info_green {
    color: $brightgreen;
    font-size: 14px;
    padding-bottom: 10px;
}
.main__info__p {
    color: $blue;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 33px;
}
.main__info_bold {font-weight: 700;
    font-size: 22px;
    padding-bottom: 28px;
}
@media screen and (max-width: 1500px) {
    .main__feedback__arrow {
        display: none;
    }
}
@media screen and (max-width: 1365px) {
    .main__wrap {
        padding: 0 15px;
    }
    .main__products {
        padding-bottom: 20%;
    }
    .main__count_blue {
        top: -26%;
        left: 0;
        justify-content: center;
    }
    .main__count_blue__inner {
        flex-grow: 1;
    }
    .main__count_blue__item {
        @include flex(row, center,center);
        max-width: 100%;
    }
    .main__feedback__items {
        overflow: scroll;
    }
    .main__count__graph {
        display: none;
    }
    .main__count__eval {
        max-width: max-content;
    }
}
@media screen and (max-width:1273px) {
    .card_small {
        flex-basis: 419px;
    }
}
@media screen and (max-width:1068px) {
    .main__count__wrap {
        @include flex(column, center,center);
    }
}
@media screen and (max-width:867px) {
    .card_small {
        flex-basis: auto;
        flex-grow: 1;
    }
}