.nav {
    @include flex(column, center, center);
    min-height: 133px;
}
.nav_green, .nav_blue {
    @include flex(row, space-between, center);    
    width: 100%;
}
.nav_green {
    padding: 20px 0;
    color: $green;
    font-size: 12px;
    font-weight: 400;
    flex-wrap: wrap;
}
.nav__burger {
    @include flex(column,space-between, center);
    display: none;
    position: relative;
    cursor: pointer;
    min-height: 18px;
}
.nav_open .nav__burger__line1 {
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform 300ms linear;
}
.nav_open .nav__burger__line2 {
    opacity: 0;
    transition: opacity 300ms linear;
}
.nav_open .nav__burger__line3 {
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 300ms linear;
}
.nav__burger__line {
    width: 22px;
    border: 1px solid $black;
}
.nav_blue {
    padding-top: 30px;
    flex-wrap: wrap
}
.nav__ul, .nav__ul_blue {
    @include flex(row, space-around, center); 
}
.nav__ul_blue {
    color: $blue;
    font-size: 18px;
    flex-basis: 430px;
}
.nav__city {
    position: relative;
    padding-left: 20px;
    &::before {
        content: url(/assets/images/arrow.svg);
        position: absolute;
        left: 0;
    }
}
.nav__tel {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    padding-left: 18px;
    color: $blue;
    &::before {
        content: url(/assets/images/tel.svg);
        position: absolute;
        left: 0;
        bottom: 0;
    }
}
.nav__li {
    padding-right: 24px;
    cursor: pointer;
}
.nav_blue__li {
    cursor: pointer;
    &:hover {
        text-shadow: 0 0 2px $bluegray;
    }
    &:active {
        text-shadow: 0 0 2px $blue;
    }
}
.nav_green__li {
    &:hover {
        text-shadow: 0 0 2px $bluegray;
    }
    &:active {
        text-shadow: 0 0 2px $blue;
    }
}
.nav_green__li:last-child {
    position: relative;
    &::after {
    content: url(/assets/images/map.svg);
    position: absolute;
    right: 0;
    }
}
.nav__lang {
    background-color: $white;
    padding: 1px 4px;
    color: $green;

}
.nav__line {
    height: 1px;
    background-color: $green;
    width: 100%;
}
.nav__button {
    padding: 14px 30px;
    min-height: 48px;
}
.nav__logo {
    display: none;
    padding-left: 17px;
}
.nav__logowrap {
    @include flex(row, flex-start, center);
}
@media screen and(max-width: 1276px) {
    .nav__city, .nav__tel, .nav__lang,.nav__button,.nav__info {
        display: none;
    }
    .nav__logo {
        display: flex;
    }
    .nav__button_mobile {
        display: block;
        min-height: 31px;
        background: $blue;
        border-radius: 16px 0px;
        color: $white;
        padding: 8px 15px;
    }
    .nav__search {
        justify-self: flex-end;
    }
}
@media screen and(max-width: 1072px) {
    .nav__ul {
        display: none;
    }
    .nav_visible {
        .nav__ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
        .nav__li {
            padding-top: 15px;
        }
    }
    .nav__burger {
        display: flex;
    }
}
@media screen and(max-width: 992px) {
    .nav__lang {
        display: none;
    }
}
@media screen and(max-width: 536px) {
    .nav__ul_blue {
        justify-content: space-between;
        flex-basis: 305px;
        font-size: 16px;
    }
}
@media screen and(max-width: 380px) {
    .nav__logo {
        padding-right: 10px;
    }
    .nav__logowrap {
        padding-bottom: 25px;
    }
    .nav__search {
        display: none;
    }
    .nav__ul_blue {
        @include flex(column,flex-start, flex-start);
    }
    .nav_blue__li {
        padding-right: 10px;
        padding-bottom: 10px;
    }
}