<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__main">
            <div class="footer__main_top">
                <img class="footer__img" src="assets\images\logo.svg" alt="">
                <div class="footer__search">
                    <img class="footer__searchimg" src="/assets/images/footer-search.svg" alt="">
                    <input type="text" placeholder="Поиск по услугам" class="footer__searchitem">
                </div>
            </div>
            <div class="footer__main_bottom">
                <div class="footer__main_left">
                    <div class="footer_left__item">
                        <h1 class="footer__h1">8 800 2700 700</h1>
                        <p class="footer__p">support@nur.finance</p>
                    </div>
                    <div class="footer_left__item">
                        <h2 class="footer__city">Казань, ул. Мавлютова, дом 31</h2>
                        <p class="footer__p">Мы работаем с 08:00 до 20:00</p>
                    </div>
                    <div class="footer__social">
                        <div class="footer__social__wrap">
                            <div class="footer__social__item">
                                <img src="assets/images/social.svg" alt="">
                            </div>
                        </div>
                        <div class="footer__social__wrap">
                            <div class="footer__social__item">
                                <img src="assets/images/social2.svg" alt="">
                            </div>
                        </div>
                        <div class="footer__social__wrap">
                            <div class="footer__social__item">
                                <img src="assets/images/social3.svg" alt="">
                            </div>
                        </div>
                        <div class="footer__social__wrap">
                            <div class="footer__social__item">
                                <img src="assets/images/social4.svg" alt="">
                            </div>
                        </div>
                        <div class="footer__social__wrap">
                            <div class="footer__social__item">
                                <img src="assets/images/social5.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__nav">
                    <div class="footer__navitem">
                        <div class="footer__menu">
                            <h2 class="footer__h2 footer__navh">Инвестиции</h2>
                            <img class="footer__menuimg" src="/assets/images/line.svg" alt="">
                        </div>
                        <a href="" class="footer__a">Вклад Накопительный</a>
                        <a href="" class="footer__a">Вклад Активный</a>
                        <a href="" class="footer__a">Вклад Комфорт</a>
                        <a href="" class="footer__a">Калькулятор</a>
                        <a href="" class="footer__a">Отзывы по инвестициям</a>
                    </div>
                    <div class="footer__line"></div>
                    <div class="footer__navitem footer__visible">
                        <div class="footer__menu">
                            <h2 class="footer__h2 footer__navh">Рассрочка</h2>
                            <img class="footer__menuimg" src="/assets/images/line.svg" alt="">
                        </div>
                        <a href="" class="footer__a">АвтоРассрочка</a>
                        <a href="" class="footer__a">Долевое финансирование</a>
                        <a href="" class="footer__a">Долговое финансирование</a>
                        <a href="" class="footer__a">Калькулятор</a>
                        <a href="" class="footer__a">Отзывы по займам</a>
                    </div>
                    <div class="footer__line"></div>
                    <div class="footer__navitem">
                        <div class="footer__menu">
                            <h2 class="footer__h2 footer__navh">Компания</h2>
                            <img class="footer__menuimg" src="/assets/images/line.svg" alt="">
                        </div>
                        <a href="" class="footer__a">О компании</a>
                        <a href="" class="footer__a">Новости</a>
                        <a href="" class="footer__a">Отчетность</a>
                        <a href="" class="footer__a">Сотрудничество</a>
                        <a href="" class="footer__a">Реквизиты</a>
                    </div>
                    <div class="footer__line"></div>
                    <div class="footer__navitem">
                        <div class="footer__menu">
                            <h2 class="footer__h2 footer__navh">Информация</h2>
                            <img class="footer__menuimg" src="/assets/images/line.svg" alt="">
                        </div>
                        <a href="" class="footer__a">Халяль подробно</a>
                        <a href="" class="footer__a">Наши партнеры</a>
                        <a href="" class="footer__a">Частые вопросы</a>
                        <a href="" class="footer__a">Личный кабинет</a>
                        <a href="" class="footer__a">Контакты</a>
                    </div>
                    <div class="footer__line"></div>
                </div>
            </div>
        </div>
        <h4 class="footer__green-header">Заголовок о доп моментах</h4>
        <p class="footer__green-p">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. </p>
        <div class="footer__comments">
            <p class="footer__comments-item">© 2021 АО «НурФинанс»</p>
            <p class="footer__comments-item">Политика конфиденциальности</p>
        </div>
    </div>
</footer>