<header class="header">
    <div class="header__wrap">
        <div class="header__bg">
            <img src="assets\images\bg.svg" alt="" class="header__bg__item header__bg__item1">
            <img src="assets\images\bg2.svg" alt="" class="header__bg__item header__bg__item2">
            <img src="assets\images\bg3.svg" alt="" class="header__bg__item header__bg__item3">
            <img src="assets\images\bg4.svg" alt="" class="header__bg__item header__bg__item4">
            <img src="assets\images\bg5.svg" alt="" class="header__bg__item header__bg__item5">
            <img src="assets\images\bg6.svg" alt="" class="header__bg__item header__bg__item6">
            <img src="assets\images\bg7.svg" alt="" class="header__bg__item header__bg__item7">
        </div>
        <nav class="nav">
            <div class="nav_green">
                <div class="nav__burger">
                    <div class="nav__burger__line nav__burger__line1"></div>
                    <div class="nav__burger__line nav__burger__line2"></div>
                    <div class="nav__burger__line nav__burger__line3"></div>
                </div>
                <img class="nav__logo" src="assets\images\logo-mobile.svg" alt="">
                <p>Инвестиционно-финансовая компания</p>
                <p class="nav__city">Город  Казань</p>
                <ul class="nav__ul">
                    <li class="nav__li nav_green__li">О компании</li>
                    <li class="nav__li nav_green__li">Отзывы</li>
                    <li class="nav__li nav_green__li">Халяль подробно</li>
                    <li class="nav__li nav_green__li">Отчетность</li>
                    <li class="nav__li nav_green__li">Наши партнеры</li>
                    <li class="nav__li nav_green__li">Сотрудничество</li>
                    <li class="nav__li nav_green__li">Контакты</li>
                </ul>
                <a href="" class=" nav__lang">RU</a>
            </div>
            <span class="nav__line"></span>
            <div class="nav_blue">
                <img class="header__logo" src="assets\images\logo.svg" alt="">
                <ul class="nav__ul_blue">
                    <li class="nav_blue__li">Инвестиции</li>
                    <li class="nav_blue__li">Рассрочка</li>
                    <li class="nav_blue__li">Калькулятор</li>
                </ul>
                <p class="nav__tel">8 800 2700 700</p>
                <img class="nav__search" src="assets\images\glass.svg" alt="">
                <a href="#" class="button nav__button">Личный Кабинет</a>
                <a href="#" class="button button_white button_hidden nav__button">Онлайн-заявка</a>
            </div>
        </nav>
        <div class="header__main">
            <div class="header__main__wrap">
                <h1 class="header__h1">Инвестируйте с повышенной доходностью до <span class="header_blue">19% </span>годовых</h1>
                <p class="header__p">100% обеспеченность активами, прибыль каждые 3 месяца!</p>
                <div class="header__buttons">
                    <div class="header__button__wrap"><a href="#" class="button header__button">Инвестировать</a></div>
                    <div class="header__button__wrap"><a href="#" class="button header__button button_white ">Подробнее</a></div>
                    <div class="header__points">
                        <div class="header__point"></div>
                        <div class="header__point"></div>
                        <div class="header__point header__point_active"></div>
                        <div class="header__point"></div>
                        <div class="header__point"></div>
                    </div>
                </div>
            </div>
            <div class="header__img">
                <img class="header__img__item_last" src="assets\images\17.png" alt="">
                <img class="header__img__item" src="assets\images\circles.png" alt="">
                <img class="header__img__item_first" src="assets\images\person.png" alt="">
            </div>
            <div class="header__arrows">
                <a class="header__arrow" href="#"><img class="header__arrow__img"  src="assets\images\nav1.svg" alt=""></a>
                <a class="header__arrow" href="#"><img class="header__arrow__img" src="assets\images\nav2.svg" alt=""></a>
            </div>
        </div>
    </div>
</header>