<header class="header">
    <div class="header__wrap">
        <nav class="nav">
            <div class="nav_green">
                <p>Инвестиционно-финансовая компания</p>
                <img src="assets\images\arrow.svg" alt="">
                <p>Город  Казань</p>
                <ul class="nav__ul">
                    <li class="nav__li">О компании</li>
                    <li class="nav__li">Отзывы</li>
                    <li class="nav__li">Халяль подробно</li>
                    <li class="nav__li">Отчетность</li>
                    <li class="nav__li">Наши партнеры</li>
                    <li class="nav__li">Сотрудничество</li>
                    <li class="nav__li">Контакты</li>
                </ul>
                <img src="assets\images\map.svg" alt="">
                <a href="" class=" nav__lang">RU</a>
            </div>
            <span class="nav__line"></span>
            <div class="nav_blue">
                <img src="assets\images\logo.svg" alt="">
                <ul class="nav__ul nav__ul_blue">
                    <li class="nav__li">Инвестиции</li>
                    <li class="nav__li">Рассрочка</li>
                    <li class="nav__li">Калькулятор</li>
                    <img src="assets\images\tel.svg" alt="">
                    <li class="nav__li nav__tel">8 800 2700 700</li>
                    <img src="assets\images\glass.svg" alt="">
                </ul>
                <a href="#" class="button nav__button">Личный Кабинет</a>
                <a href="#" class="button button_white nav__button">Онлайн-заявка</a>
            </div>
        </nav>
        <div class="header__main">
            <div class="header__main__wrap">
                <h1 class="header__h1">Инвестируйте с повышенной доходностью до 19% годовых</h1>
                <p class="header__p">100% обеспеченность активами, прибыль каждые 3 месяца!</p>
                <div class="header__buttons">
                    <a href="#" class="button">Инвестировать</a>
                    <a href="#" class="button button_white">Подробнее</a>
                </div>
            </div>
            <div class="header__img">
                <img src="assets\images\person.png" alt="">
                <img class="header__img__item" src="assets\images\17.png" alt="">
                <img class="header__img__item" src="assets\images\circles.png" alt="">
            </div>
            <div class="header__arrows">
                <a href="#"><</a>
                <a href="#">></a>
            </div>
        </div>
    </div>
</header>